{% if site.data.projects %}
<section class="section projects-section">

  <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>

  {% for intro in site.data.projects %}
  <div class="intro">
      <p>{{ intro.description }}</p>
  </div><!--//intro-->
  {% endfor%}

  {% for project in site.data.projects %}
    <div class="item">
      <div class="meta">
          <h3 class="project-title"><a href="{{ project.link }}">{{ project.title }}</a></h3>
          <div class="time">{{ project.time }}</div>
        <div class="company">{{ project.tag }}</div>
      </div><!--//meta-->

      <!--<span class="project-title"><a href="{{ project.link }}">{{ project.title }}</a></span>-->
      {% if project.tagline %}
       <span class="project-tagline">{{ project.tagline }}</span>
      {% endif %}



    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
